<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Author</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>

    <header>
      <div class="header-container">
        <a href="{{ url_for('home_page') }}" class="library-title">
            <h1>My Book Library 📚</h1>
        </a>
        <div class="header-right">
          <a href="{{ url_for('add_book') }}" class="add-button">Add a book</a>
          <a href="{{ url_for('add_author') }}" class="add-button">Add an author</a>
        </div>
      </div>
    </header>

  <!-- Success message -->
  {% if success_message %}
    <p class="alert alert-success">{{ success_message }}</p>
  {% endif %}

  <!-- Warning message -->
  {% if warning_message %}
    <p class="alert alert-warning">{{ warning_message }}</p>
  {% endif %}

  <!-- Form for adding an author -->

  <form action="/add_author" method="POST" class="styled-form">
    <label for="name">Author Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="birth_year">Birth Year:</label>
    <input type="date" id="birth_year" name="birth_year" required><br><br>

    <label for="death_year">Death Year:</label>
    <input type="date" id="death_year" name="death_year"><br><br>

    <input type="submit" value="Add Author">
  </form>


  </body>
</html>